:root {
    /* ================== Colores ================== */

    /* Escala Green (50 → 950) */
    --green-50:  #FAFFE5;
    --green-100: #F3FFC6;
    --green-200: #E6FF94;
    --green-300: #D2FF56;
    --green-400: #BBF724;
    --green-500: #9CDE04;
    --green-600: #79B200;
    --green-700: #5A8704;
    --green-800: #496A0A;
    --green-900: #31470B;
    --green-950: #1F3201;

    /* Colores principales basados en tu diseño */
    --color-black: #1C1C1C;
    --color-dark-blue: #021024;

    --color-black-100: hsl(240, 5%, 35%);
    --color-black-200: hsl(240, 5%, 25%);
    --color-black-300: hsl(240, 5%, 15%);
    --color-black-400: hsl(240, 5%, 10%);

    --color-white: hsl(206, 0%, 100%);
    
    --color-subtitulo: hsl(225, 8%, 42%);
    --color-white-500: hsl(206, 0%, 50%);

  
    --color-blur: #9abadc96;
    --color-border: #E5E5E5;

    /* ================== Tipografías ================== */
    --font-inter: "Inter", sans-serif;
    --font-work-sans: "Work Sans", sans-serif;
    --font-Sora: "Sora", sans-serif;

    /* ================== Layout ================== */
    --max-width: 1560px;
    --border-radius: 8px;

    /* ================== Sombras ================== */
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ================== Estilos Globales ================== */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-Sora);
    background-color: var(--color-white);
    color: var(--color-black);
    line-height: 1.5;
}

/* ================== Links ================== */
a {
    color: inherit;
    text-decoration: none;
}


/* ================== Listas ================== */
ul,
ol {
    list-style: none;
}

/* ================== Formularios ================== */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

/* ================== Utilidades ================== */
section,
main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}