/* ================== Google Fonts ================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Sora:wght@100..800&display=swap');


/* ================== Reset Básico ================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

/* ================== Variables ========= ========= */
:root {
    /* ================== Colores ================== */

    /* Escala Blue (50 → 950) */
    --blue-50:  #F0F7FE;
    --blue-100: #DDEDFC;
    --blue-200: #C3E0FA;
    --blue-300: #99CDF7;
    --blue-400: #69B2F1;
    --blue-500: #4C97EC;  /* Color principal */
    --blue-600: #3077E0;
    --blue-700: #2862CD;
    --blue-800: #264FA7;
    --blue-900: #244684;
    --blue-950: #1A2C51;

    /* Colores existentes */
    --color-black: #1C1C1C;
    --color-dark-blue: #021024;

    --color-black-100: hsl(240, 5%, 35%);
    --color-black-200: hsl(240, 5%, 25%);
    --color-black-300: hsl(240, 5%, 15%);
    --color-black-400: hsl(240, 5%, 10%);
    --color-white: hsl(206, 0%, 100%);
    --color-blanco: #fafafa;

    --color-subtitulo: hsl(225, 8%, 42%);
    --color-white-500: hsl(206, 0%, 50%);

    --color-blur: #9abadc96;
    --color-border: #E5E5E5;

    /* Tipografías */
    --font-inter: "Inter", sans-serif;
    

    /* Tamaños */
    --max-width: 1560px;
    --border-radius: 8px;

    /* Sombras */
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* ================== Estilos Globales ================== */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-white);
    color: var(--color-black);
    line-height: 1.5;
}

/* ================== Links ================== */
a {
    color: inherit;
    text-decoration: none;
}


/* ================== Listas ================== */
ul,
ol {
    list-style: none;
}

/* ================== Formularios ================== */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

/* ================== Utilidades ================== */
section,
main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}